// navbar scss

.edv-navbar {


  &-primary.flex {
    background-color: rgb(175, 15, 15);
    padding: 0;
    margin: 0;
    padding: 0px 10%;
    height: 60px;

    list-style: none;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: stretch;
    align-content: center;


    .flex-item {
      font-family: 'Merriweather';

      display: flex;
      flex: 1 0 150px;
      justify-content: center;
      align-items: center;
    }

    a {
      color: rgb(255, 255, 255);
      text-decoration: none;
    }
  }
}

.edv-navbar {
  &-subsection {
    color: white;
    position: relative;
    width: 100%;
  }
}

.nav-pane {
  &-container {
    position: absolute;
    width: 100%;
    background-color: red;

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
  }

  &-header {
    margin-left: 10%;
    flex: 1;
  }

  &-sublinks-list {
    flex: 1;
  }

  &-sublinks-links {

    a {
      color: white;
      text-decoration: none;
    }
  }

  &-image {
  }
}

.nav-pane-container, .nav-hover {
  background-color: black;
  color: white;
}

.hide {
  visibility: hidden;
}
