<!-- navbar template-->
<nav class="edv-navbar">
  <!-- primary navbar links-->
  <ul class="edv-navbar-primary flex">
    <li class="flex-item" ng-repeat="linkObj in links">
      <a href="#">{{linkObj.title | uppercase }} : {{linkObj.order}}</a>
    </li>
  </ul> <!-- primary navbar links /edv-navbar-primary flex -->

  <section class="edv-navbar-subsection">
    <div role="pane" ng-repeat="linkObj in links">
      <header>{{linkObj.title | uppercase}}</header>
      <ul>
        <li ng-repeat="sub in linkObj.sub"><a href="#">{{sub}}</a></li>
      </ul>
      <img src="{{placeholder}}" alt="placeholder square">
    </div>
  </section>

</nav>
